.todo {
  display: flex;
  align-items: center;
  h1 {
    margin: 0;
  }
  .controls {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .controls-left {
    margin-left: 20px;
    margin-right: auto;
    display: flex;
    align-items: center;
  }
}
.main-content {
  display: flex;
  justify-content: center;
  .increment-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .btn {
      font-size: 30px;
    }
    .current-count {
      font-size: 80px;
    }
  }
}
todo-form-component {
  display: block;
  width: 400px;
  margin: 40px auto 0 auto;

  .hidden {
    opacity: 0;
  }
}
